@model ReportIndexVM

@{
    var propertiesToCheck = new[]
    {
        nameof(Model.Report.Creatinine),
        nameof(Model.Report.Hemoglobin),
        nameof(Model.Report.Hematocrit),
        nameof(Model.Report.Potassium),
        nameof(Model.Report.Albumin)
    };

    var initialForm = propertiesToCheck.All(prop =>
        Model.Report.GetType().GetProperty(prop).GetValue(Model.Report) == null);

    var change_to_warning = !initialForm && propertiesToCheck.Any(prop =>
        ViewData.ModelState[$"{nameof(Model.Report)}.{prop}"]?.Errors.Any() ?? false);
}

<div class="form-group">
    <div class="row">

        <!--Creatinine-->
        <div class="col-md-6 mb-15">
            <label class="control-label col-md-12">
                Creatinine
                <span class="font-12">- mg/dL</span>
                <span class="text-danger"> *</span>
            </label>
            <div class="col-md-12">
                <input asp-for="@Model.Report.Creatinine" type="text" class="m-b form-control input-decimal" maxlength="4" />
                <span asp-validation-for="@Model.Report.Creatinine" class="text-danger"></span>
            </div>
        </div>

        <!--Potassium-->
        <div class="col-md-6 mb-15">
            <label class="control-label col-md-12">
                Potassium
                <span class="font-12">- mEq/L</span>
                <span class="text-danger"> *</span>
            </label>
            <div class="col-md-12">
                <input asp-for="@Model.Report.Potassium" type="text" class="m-b form-control input-decimal" maxlength="3" />
                <span asp-validation-for="@Model.Report.Potassium" class="text-danger"></span>
            </div>
        </div>

    </div>
    <br />

    <div class="row">

        <!--Hemoglobin-->
        <div class="col-md-6 mb-15">
            <label class="control-label col-md-12">
                Hemoglobin
                <span class="font-12">- g/dL</span>
                <span class="text-danger"> *</span>
            </label>
            <div class="col-md-12">
                <input asp-for="@Model.Report.Hemoglobin" type="text" class="m-b form-control input-decimal" maxlength="4" />
                <span asp-validation-for="@Model.Report.Hemoglobin" class="text-danger"></span>
            </div>
        </div>

        <!--Hematocrit-->
        <div class="col-md-6 mb-15">
            <label class="control-label col-md-12">
                Hematocrit
                <span class="text-danger"> *</span>
            </label>
            <div class="col-md-12">
                <input asp-for="@Model.Report.Hematocrit" type="text" class="m-b form-control input-decimal" maxlength="4" />
                <span asp-validation-for="@Model.Report.Hematocrit" class="text-danger"></span>
            </div>
        </div>

    </div>
    <br />

    <div class="row">

        <!--Albumin-->
        <div class="col-md-6 mb-15">
            <label class="control-label col-md-12">
                Albumin
                <span class="font-12">- g/dL</span>
                <span class="text-danger"> *</span>
            </label>
            <div class="col-md-12">
                <input asp-for="@Model.Report.Albumin" type="text" class="m-b form-control input-decimal" mexlength="3" />
                <span asp-validation-for="@Model.Report.Hematocrit" class="text-danger"></span>
            </div>
        </div>

    </div>

</div>

<!--Tabs Buttons-->
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="col-md-6">
                <button data-toggle="tab" id="prev_to_treatmentOutcomes" href="#tab-4" class="tab7 btn btn-secondary">Previous</button>
            </div>
            @if(Model.ViewMode == "Create")
            {
                <div class="col-md-6 text-end">
                    <button type="submit" class="tab9 btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>

</div>

<script>
    $("#prev_to_treatmentOutcomes").on('click', function () {
        $('.nav-tabs a[href="' + "#tab-4" + '"]').tab('show');
    });

    var init = @initialForm.ToString().ToLower();
    if (!init) {
        const $tabIcon = $('.nav-tabs a[href="#tab-5"] i');
        $tabIcon.removeClass('label label-danger fa fa-window-close').addClass(@change_to_warning.ToString().ToLower()
                ? 'label label-danger fa fa-window-close' : 'label label-primary fa fa-check');
    }
</script>