@model ReportIndexVM

@{
    var propertiesToCheck = new[]
    {
        nameof(Model.Report.Nephrologist),
        nameof(Model.Report.DialysisDuration),
        nameof(Model.Report.DialysisFrequency),
        nameof(Model.Report.VascularAccessType),
        nameof(Model.Report.DialyzerType)
    };

    var initialForm = propertiesToCheck.All(prop =>
        Model.Report.GetType().GetProperty(prop).GetValue(Model.Report) == null);

    var change_to_warning = !initialForm && propertiesToCheck.Any(prop =>
        ViewData.ModelState[$"{nameof(Model.Report)}.{prop}"]?.Errors.Any() ?? false);
}


<div class="row">

    <!--Dialysis Unit Name-->
    <div class="col-md-6">
        <label class="control-label col-md-12">
            Dialysis Unit Name
            <span class=" text-danger"> *</span>
        </label>

        <div class="col-md-12">
            <input asp-for="@Model.Report.DialysisUnitName" class="m-b form-control" readonly />
            <span class="text-danger"></span>
        </div>
    </div>

    <!--Nephrologist Name-->
    <div class="col-md-6">
        <label class="control-label col-md-12">Nephrologist Name<span class=" text-danger"> *</span></label>

        <div class="col-md-12">
            <input asp-for="@Model.Report.Nephrologist" class="m-b form-control" />
            <span asp-validation-for="@Model.Report.Nephrologist" class="text-danger"></span>
        </div>
    </div>

</div>
<br />


<div class="row">

    <!--Date of Session-->
    <div class="col-md-4">
        <label class="control-label col-md-12">Date Of Session<span class=" text-danger"> *</span></label>
        <div class="col-md-12">
            <input asp-for="@Model.Report.SessionDate" type="date" class="m-b form-control" readonly />
        </div>
    </div>

    <!--Dialysis Duration-->
    <div class="col-md-4">
        <label class="control-label col-md-12">
            Dialysis Duration
            <span class="font-12 control-label">- Hr</span>
            <span class=" text-danger"> *</span>
        </label>

        <div class="col-md-12">
            <input id="dialysisDuration" asp-for="@Model.Report.DialysisDuration" 
                    type="text" class="m-b form-control input-half-decimal" maxlength="3" />
            <span asp-validation-for="@Model.Report.DialysisDuration" class="text-danger"></span>
        </div>
    </div>

    <!--Dialysis Frequency-->
    <div class="col-md-4">
        <label class="control-label col-md-12">
            Dialysis Freuency
            <span class="font-12 control-label">per week</span>
            <span class=" text-danger"> *</span>
        </label>

        <div class="col-md-12">
            <input asp-for="@Model.Report.DialysisFrequency" type="text" 
                    class="m-b form-control input-integer" maxlength="1" />
            <span asp-validation-for="@Model.Report.DialysisFrequency" class="text-danger"></span>
        </div>
    </div>

</div>
<br />


<div class="row">

    <!--Vascular Access Type-->
    <div class="col-md-6">
        <label class="control-label col-md-12">
            Vascular Access Type
            <span class=" text-danger"> *</span>
        </label>

        <div class="col-md-12">
            <select asp-for="@Model.Report.VascularAccessType" 
                    asp-items="Html.GetEnumSelectList<VascularType>()" 
                    class="form-control">
                <option value="" selected disabled>Vascular Access Type...</option>
            </select>
            <span asp-validation-for="@Model.Report.VascularAccessType" class="text-danger"></span>
        </div>
    </div>

    <!--Dialyzer Type-->
    <div class="col-md-6">
        <label class="control-label col-md-12">
            Dialyzer Type
            <span class=" text-danger"> *</span>
        </label>

        <div class="col-md-12">
            <select asp-for="@Model.Report.DialyzerType"
                    asp-items="Html.GetEnumSelectList<DialyzerType>()"
                    class="form-control">
                <option value="" selected disabled>Dialyzer Type...</option>
            </select>
            <span asp-validation-for="@Model.Report.DialyzerType" class="text-danger"></span>
        </div>
    </div>

</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <label class="control-label col-md-12">General Remarks</label>
        <div class="col-md-12">
            <textarea asp-for="@Model.Report.GeneralRemarks" oninput="autoResize(this)" class="m-b form-control BaselineSingleControl"></textarea>
        </div>
    </div>
</div>
<br />


<!--Tab Buttons-->
<div class="row">
    <div class="ibox float-e-margins" style="float:right">
        <div class="ibox-title">
            <div class="col-md-6 text-end">
                <button data-toggle="tab" id="nxt_to_health_status" href="#tab-2" class="tab9 btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#nxt_to_health_status").on('click', function () {
        $('.nav-tabs a[href="' + "#tab-2" + '"]').tab('show');
    });

    var init = @initialForm.ToString().ToLower();
    if (!init) {
        const $tabIcon = $('.nav-tabs a[href="#tab-1"] i');
        $tabIcon.removeClass('label label-danger fa fa-window-close').addClass(@change_to_warning.ToString().ToLower()
                ? 'label label-danger fa fa-window-close' : 'label label-primary fa fa-check');
    }

    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }
</script>