@using Reno.MVC.Services.Base.Contracts;
@model Reno.MVC.Models.Reports.ReportIndexVM;
@inject ILocalStorageService _localStorageService;

@section styles{
    <style>
        .label {
            padding: 4px 4px;
        }

        .form-horizontal .control-label {
            text-align: left;
        }

        .nav-tabs > li > a {
            padding: 10px 15px 10px 6px;
        }

        .group-start {
            height: 40px;
            background-color: #E2e2e2;
        }

        tr {
            line-height: 3;
        }

        .titleNav {
            text-align: center;
            /*margin: -20px -15px 0px 10px;*/
        }

        .example123 td {
            text-align: left;
        }

        .well {
            background-color: rgba(0, 0, 0, 0) !important;
        }
    </style>
}


@{
    string access_token = _localStorageService.GetCurrentToken();

    int.TryParse(User.Claims.Where(x => x.Type == "uid").FirstOrDefault()?.Value, out int unitId);

    ViewData["Title"] = "Report";

    var disable = Model.ViewMode == "View" ? true : false;
}

<!-- Begin wrapper Content (Page Content) -->
<div class="wrapper wrapper-content animated fadeInRight shadow">
    <!-- Begin Row-->
    <div class="row mx-0">
        <!-- Begin Column-->
        <div class="col-md-12 col-xs-12">
            <!-- Begin Page ibox-->
            <div class="ibox float-e-margins" style="margin-bottom: -25px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">

                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4">
                                    <h2>Visit Information</h2>
                                </div>
                                @*
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="col-md-8" id="PartailButtons">
                                        <div class="row">
                                            <div style="float:right">
                                                @Html.ActionLink("Patient Profile", "Edit", "Patients", new { id = Model.Report.Patient.Id }, new { @class = "btn btn-default" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                *@
                            </div>
                        </div>

                    </div>
                    <!-- Begin  ibox Content-->
                    <div class="ibox-content">
                        <div class="form-group">
                            
                            <div class="row mx-0">
                                <label class="control-label ">Patient Name : </label>
                                <label class="control-label">@Model.Report.Patient.PatientName</label>
                            </div>
                            
                            <div class="row mx-0">
                                <label class="control-label ">Dialysis Unit : </label>
                                <label class="control-label">@Model.Report.DialysisUnitName</label>
                            </div>

                            @if(Model.Report.Nephrologist!=null)
                            {
                                <div class="row mx-0">
                                    <label class="control-label ">Nephrologist : </label>
                                    <label class="control-label">@Model.Report.Nephrologist</label>
                                </div>
                            }
                            
                        </div>
                        <div class="form-group">
                            <form asp-action="Details" asp-controller="Ms" method="get" class="ViewFollowUpReports">

                                <div class="row mx-0">
                                    <label class="control-label ">Visit Date : </label>
                                    <label class="control-label">
                                        <label>@Model.Report.SessionDate.ToString("dd-MMM-yyyy")</label>
                                    </label>
                                </div>

                                <div class="row mx-0">

                                    <div class="col-md-2 px-0">
                                        <label class="control-label ">Previous Visits : </label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="m-b form-control  ViewFollowUpReports" id="Prev_reports">
                                            <option disabled selected>Select Previous reports...</option>
                                            @foreach(var prev_report in Model.PrevReports)
                                            {
                                                <option value="@prev_report.Item2">@prev_report.Item1.ToString("dd-MMM-yyyy")</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" id="SupmitViewReport" class="btn btn-primary btn-block">View Report</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <!--Begin Page Title -->
                <div class="ibox-title">
                    <div class="col-md-12 col-xs-12">
                        <h4 class="brand-color">Report</h4>
                        
                        <div style="float:right">
                            <label class="control-label" style="margin-left: -5%;"> Creation Date : </label>
                            <label class="control-label">@Model.Report.CreatedDate.ToString("dd-MMM-yyyy")</label>
                            <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp; Last Update : </label>
                            <label class="control-label">@Model.Report.LastModifiedDate.ToString("dd-MMM-yyyy")</label>

                            @if (Model.ViewMode == "View" && (User.IsInRole("Admin") || unitId ==  Model.Report.DialysisUnitId) )
                            {
                                <button id="report-download" data-id="@Model.Report.Id"
                                        type="button" class="btn btn-default" style="float:right;">
                                    <i class="fa fa-download"></i>
                                </button>
                            }

                        </div>
                    </div>
                </div>
                <!--End Page Title -->
                <!-- Begin  ibox Content-->
                <div class="ibox-content ">
                    <div class="row">
                        @if (Model.ViewMode == "Create")
                        {
                            <form method="post" asp-action="Save" asp-route-requestId="@Model.MedReq.Id" id="main-form">
                                <div class="col-md-12 col-xs-12">
                                    <div class="tabs-container">
                                        <div class="tabs-left">
                                            <ul class="nav nav-tabs shadow" id="main">
                                                <partial name="_PartialNavTabsIndex" />
                                            </ul>
                                            <div class="tab-content">
                                                <partial name="_PartialTabsContentIndex" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        }

                        else if (Model.ViewMode == "View")
                        {
                            <div class="col-md-12 col-xs-12" id="report_main">
                                <div class="tabs-container">
                                    <div class="tabs-left">
                                        <ul class="nav nav-tabs shadow" id="main">
                                            <partial name="_PartialNavTabsIndex" />
                                        </ul>
                                        <div class="tab-content">
                                            <partial name="_PartialTabsContentIndex" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                        @*
                        <partial name="_Comments" />
                        <partial name="_AllComments" />
                        *@
                    </div>
                    <!-- End  ibox Content-->
                    <!-- End Page ibox-->
                </div>
            </div>
            <!-- End Column-->
        </div>
        <!-- End Row-->
    </div>
</div>

<script>
    $('document').ready( () => {

        $('#report_main').find('input, select, textarea').prop('disabled', '@disable');

        $('#SupmitViewReport').click(function () {
            var selectedValue = $('#Prev_reports').val();
            if (selectedValue) {
                var url = '/Reports/' + selectedValue;
                window.open(url, '_blank');
            } else {
                alert('Please select a report.');
            }
        });

        function restrictToIntegers(event) {
            const key = event.keyCode || event.which;
            // Allow numeric keys (0-9) and numeric keypad keys (NumLock section)
            if ((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key === 8) {
                // Allow digits and Backspace
                return true;
            } else {
                event.preventDefault(); // Prevent non-numeric characters
                return false;
            }
        }


        function restrictToHalfDecimal(event, inputElem) {
            const key = event.keyCode || event.which;
            // Allow numeric keys (0-9) and numeric keypad keys (NumLock section)
            if ((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key === 8 || key === 190 || key === 110) {
                var val = inputElem.value;
                if (val.includes('.') && key != 53 && key != 101 && key != 8) {
                    event.preventDefault();
                    return false;
                }

                return true;
            } else {
                event.preventDefault(); // Prevent non-numeric characters
                return false;
            }
        }

        function restrictToDecimal(event, inputElem) {
            const key = event.keyCode || event.which;
            // Allow numeric keys (0-9) and numeric keypad keys (NumLock section)
            if ((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key === 8 || key === 190 || key === 110) {
                var val = inputElem.value;
                if (val.includes('.') && (key===190 || key===110)) {
                    event.preventDefault();
                    return false;
                }

                return true;
            } else {
                event.preventDefault(); // Prevent non-numeric characters
                return false;
            }
        }


        $('#main-form input.input-half-decimal').each((index, element) => {
            element.addEventListener('keydown', (event) => restrictToHalfDecimal(event, element));
        });

        $('#main-form input.input-integer').each((index, element) => {
            element.addEventListener('keydown', (event) => restrictToIntegers(event));
        });

        $('#main-form input.input-decimal').each((index, element) => {
            element.addEventListener('keydown', (event) => restrictToDecimal(event, element));
        });


        $('#report-download').on('click', function () {
            let reportId = $(this).data('id');

            $.ajax({
                url: `http://localhost:6982/report/pdf/${reportId}`,
                type: 'GET',
                headers: {
                    "Authorization": `Bearer @access_token`
                },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data, status, xhr) {
                    let blob = new Blob([data], { type: 'application/pdf' });
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = xhr.getResponseHeader('Content-Disposition').split('filename=')[1];
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                },
                error: function (xhr, status, error) {
                    console.error('Error downloading the report:', error);
                }
            });
        });


    });

</script>